# node.js / npm
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


# misc / editors
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


# bower components
static/components


# test
coverage.html

# grunt
.tmp
dist